.spacer {
  height: 100px;
}


.sociallinks {

  // margin-top: 4em;
  padding: 24px;

  a {
    color: inherit;
    text-decoration: none !important;
    padding: 10px;
    transition: 1s ease-out;
    &:hover {
      padding: 10px;
      color: #ff0048;
      transition: 1s ease;
    }
  }

  

  i {
    margin: 10px;
  }


}


footer {
  // position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $navyblue;
color: $white;

}

// .site-footer {
//   // background-color: $white;
//   margin-top: 20px;
//   padding: 10px;
//   text-align: center;

//   .footer-social-links {
//     text-align: center;

//     ul.social-links-list {
//       li {
//         margin-right: 25px;
//         display: inline-block;

//         a {
//           color: $dark-gray;

//           &.instagram:hover {
//             color: #e95950;
//           }

//           &.facebook:hover {
//             color: rgb(66, 103, 178);
//           }

//           &.twitter:hover {
//             color: rgb(56, 161, 243);
//           }

//           &.google:hover {
//             color: rgb(221, 75, 57);
//           }

//           &.linkedin:hover {
//             color: rgb(0, 119, 181);
//           }
//         }
//       }
//     }
//   }
// }
