// @import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

// $site-font: 'Raleway', sans-serif;

$site-font: 'Work Sans', sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
$navyblue: #0f0f6d;

